@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'ngx-toastr/toastr';

body {
  padding-top: 10px;
}

.card {
  padding: 15px;
}

.spinner-border {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.15em;
}

.show-search-text {
  font-weight: bold;
}
